.wrapper {
	max-width: 1705px;
	margin: 0 auto;
}

footer {
	text-align: center;
	background-color: $darkGray;
	color: $blue;
	padding: 1px;
}

.active {
	text-decoration: underline;
}

.clearfix {
	content: '';
	display: flex;
	clear: both;
}

.hamburger {
	display: none;
}

@media screen and (max-width: 1345px) {
	#skills {
		div.technologies {
			width: 65%;

			img.first-line {
				margin: 10px 30px;
				width: 100px;
				height: 130px;
			}

			img.second-line {
				margin: 10px 30px;
				width: 90px;
				height: 90px;
			}

			img.third-line {
				margin: 10px 30px;
				width: 70px;
				height: 130px;
			}
		}

		div.profile {
			width: 35%;

			a {
				font-size: 150px;
				margin-top: 40%;
			}
		}
	}

	#projects.wrapper {
		h2 {
			font-size: 20px;
			padding-top: 100px;
		}

		div.latest {
			flex-wrap: wrap;
			justify-content: center;

			.project-box {
				margin: 30px;
			}
		}
	}
}

@media screen and (max-width: 910px) {
	header {
		div#banner {
			padding: 120px 40px;

			p {
				font-size: 18px;
			}

			p.name {
				font-size: 24px;
			}

			h1 {
				font-size: 44px;
			}

			a {
				margin: 80px 50px;
			}
		}
	}

	#about {

		div.info {
			width: 100%;
			margin: 0 auto;

			p {
				font-size: 16px;
			}
		}

		div.wrapper {
			flex-direction: column;

			img {
				width: 220px;
				height: 270px;
				margin: auto;
			}
		}
	}

	#skills {
		div.technologies {
			width: 70%;

			img.first-line {
				margin: 20px;
				width: 70px;
				height: 100px;
			}

			img.second-line {
				margin: 20px;
				width: 70px;
				height: 70px;
			}

			img.third-line {
				margin: 10px 30px;
				width: 60px;
				height: 110px;
			}
		}

		div.profile {
			width: 30%;

			h2 {
				margin-top: 63px;
			}

			a {
				margin-top: 70%;
			}
		}
	}

	#projects.wrapper {
		h2 {
		 	padding-top: 100px;
		 }

		div.project-box {
		 	height: 200px;

		 	img {
		 		width: 250px;
		 		height: 200px;
		 	}
		 }
	}
}

@media screen and (max-width: 678px) {
	header#home {
		nav {

			.hamburger{
				display: block;
				float: right;
				margin-top: 12px;
				margin-right: 30px;

				&:hover {
					cursor: pointer;
				}
			}	

			ul {
				opacity: 0;
				visibility: hidden;
				height: 0;
				text-align: right;
				margin-top: 50px;
				margin-right: 30px;
				padding: 0;
				display: block;

				li {
					padding: 15px 0;
				}
			}

			ul.open {
				visibility: visible;
				opacity: 1;
				height: 250px;
			}
		}

		#banner {
			padding-top: 100px;

			p {
				font-size: 14px;
			}

			p.name {
				font-size: 20px;
			}

			h1 {
				font-size: 40px;
			}

			a {
				font-size: 14px;
				margin: 80px 50px;
			}
		}

	}

	#about {

		div.wrapper {
			padding: 0 30px;

			div.info {

				h2 {
					padding-top: 20px;
					font-size: 20px;
				}

				p {
					font-size: 14px;
				}
			}
		}
	}

	#skills.wrapper {
		display: block;
		position: initial;

		h2 {
			font-size: 20px;
		}

		div.technologies {
			width: 90%;
			margin: 0 auto;
			padding: 20px 0;

		}

		div.profile {
			width: 100%;
			border: none;
			min-height: 400px;
			background-color: #303030;
			padding: 5px;
			box-sizing: border-box;

			h2 {
				margin-top: 30px;
			}

			a {
				margin-top: 50px;
			}
		}
	}

	#projects.wrapper {
		h2 {
		 	padding-top: 20px;
		 }
	}

	#contact.wrapper {
		h2 {
			font-size: 20px;
			padding-top: 40px;
		}

		.contact-way {
			margin: 0 auto;
			flex-direction: column;

			.icon {
				margin: 25px auto 0 auto;

				a {
					font-size: 60px;
				}

				p {
					font-size: 14px;
					margin-top: 5px;
				}
			}
		}
		
		p {
			margin-top: 40px;
		}
	}

	footer p {
		font-size: 14px;
		margin: 15px;
	}
}